@import "./base";
@import "./variables";

/* Move to a better place */

@mixin link-button {
	&:hover {
		color: lighten($primary-color, $amount: 5%);
		cursor: pointer;
	}

	&:active {
		color: darken($primary-color, $amount: 5%);
	}
}
a {
	text-decoration: none;
	color: $font-color;
}

@import "~@components/app";

@import '~@components/sidebar';
@import '~@components/logo';
@import '~@components/category-menu';
@import '~@components/category-menu-item';

@import '~@components/pages/page';
@import '~@components/pages/today-page';
@import '~@components/pages/favorites-page';
@import '~@components/pages/feed-page';

@import '~@components/content';