@import "./base";
@import "./variables";


@mixin link-button {
	&:hover {
		color: lighten($primary-color, $amount: 5%);
		cursor: pointer;
	}

	&:active {
		color: darken($primary-color, $amount: 5%);
	}
}

@import "~@components/app";

@import '~@components/sidebar';
@import '~@components/logo';
@import '~@components/category-menu';
@import '~@components/category-menu-item';

@import '~@components/content';


/* Move to a better place */
