/* nunito-200 - latin_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
       url('../fonts/nunito-v12-latin_cyrillic-200.woff2') format('woff2'); 
}

/* nunito-regular - latin_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('../fonts/nunito-v12-latin_cyrillic-regular.woff2') format('woff2');
}

/* nunito-700 - latin_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'),
			 url('../fonts/nunito-v12-latin_cyrillic-700.woff2') format('woff2');
}
